bson==0.5.10
cassandra-driver==3.25.0
certifi==2021.10.8
click @ file:///C:/ci/click_1646038601470/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
geomet==0.2.1.post1
importlib-metadata @ file:///C:/ci/importlib-metadata_1648562631189/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528383308/work
mysql-connector-python==8.0.18
protobuf==3.6.0
pymongo==3.12.0
python-dateutil==2.8.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
zipp @ file:///C:/ci/zipp_1652274072582/work
