<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download MongoDB</title>
</head>
<body>
    <form action="/downloadMongoDB/{{part1}}/{{part2}}" method="POST">
        <h1>Enter details to download from MongoDB</h1>
        <table>
            <tr><td>Database name: </td><td><input type="text" name="db" id="db"></td></tr>
            <tr><td>Collection name: </td><td><input type="text" name="coll" id="coll"></td></tr>
            <tr><td>Path (json): </td><td><input type="text" name="path" id="path"></td></tr>
            <tr><td colspan="2"><input type="submit" value="Download"></td></tr>
        </table>
    </form>
</body>
</html>