<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Establish MySql Connection</title>
</head>
<body>
    <form action="/establishSqlConnection" method="POST">
        <h1>Connect to MySQL Database</h1>
        <table>
            <tr><td>Host: </td><td><input type="text" name="host" id="host"></td></tr>
            <tr><td>User: </td><td><input type="text" name="user" id="user"></td></tr>
            <tr><td>Password: </td><td><input type="password" name="passwd" id="passwd"></td></tr>
            <tr><td colspan="2"><input type="submit" value="Connect"></td></tr>
        </table>
    </form>
</body>
</html>