<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Insert SQL</title>
</head>
<body>
    <form action="/oneInsertSql/{{host}}/{{user}}/{{passwd}}" method="POST">
        <h1>Enter details to insert in MySQL</h1>
        <table>
            <tr><td>Database name: </td><td><input type="text" name="db" id="db"></td></tr>
            <tr><td>Table name: </td><td><input type="text" name="table" id="table"></td></tr>
            <tr><td>Attributes: </td><td><input type="text" name="attr" id="attr"></td></tr>
            <tr><td>VALUES: </td><td><input type="text" name="val" id="val"></td></tr>
            <tr><td colspan="2"><input type="submit" value="Insert"></td></tr>
        </table>
    </form>
</body>
</html>