<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Cassandra</title>
</head>
<body>
    <form action="/updateCassandra/{{client_id}}/{{client_key}}/{{bundle_path}}" method="POST">
        <h1>Enter details to update in Cassandra</h1>
        <table>
            <tr><td>Keyspace name: </td><td><input type="text" name="db" id="db"></td></tr>
            <tr><td>Table name: </td><td><input type="text" name="table" id="table"></td></tr>
            <tr><td>SET: </td><td><input type="text" name="attr" id="attr"></td></tr>
            <tr><td>WHERE: </td><td><input type="text" name="val" id="val"></td></tr>
            <tr><td colspan="2"><input type="submit" value="Update"></td></tr>
        </table>
    </form>
</body>
</html>